<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SkypeLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SkypeLight.Properties.Settings>
            <setting name="Comport" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ColorRed" serializeAs="String">
                <value>255,0,0</value>
            </setting>
            <setting name="ColorGreen" serializeAs="String">
                <value>0,255,0</value>
            </setting>
            <setting name="ColorYellow" serializeAs="String">
                <value>255,160,0</value>
            </setting>
            <setting name="ColorBlue" serializeAs="String">
                <value>0,0,255</value>
            </setting>
            <setting name="ColorWhite" serializeAs="String">
                <value>255,255,255</value>
            </setting>
            <setting name="ColorBlack" serializeAs="String">
                <value>0,0,0</value>
            </setting>
            <setting name="ColorError" serializeAs="String">
                <value>32,32,32</value>
            </setting>
            <setting name="Time_Brightness" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Show_Date" serializeAs="String">
                <value>False</value>
            </setting>
        </SkypeLight.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
